@use "../Globals/variables" as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 45px;
  cursor : url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDg0ZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS11dGVuc2lscy1jcm9zc2VkIj48cGF0aCBkPSJtMTYgMi0yLjMgMi4zYTMgMyAwIDAgMCAwIDQuMmwxLjggMS44YTMgMyAwIDAgMCA0LjIgMEwyMiA4bS03IDdMMy4zIDMuM2E0LjIgNC4yIDAgMCAwIDAgNmw3LjMgNy4zYy43LjcgMiAuNyAyLjggMHptMCAwIDcgN20tMTkuOS0uMiA2LjQtNi4zTTE5IDVsLTcgNyIvPjwvc3ZnPg=='), auto; 
}

section{
  padding: variables.$global-padding;
  position: relative;
  display: flex;
  align-items: center;
}

.container {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}




