@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --bg-topbar: $bg-topbar;
  --text-colortopbar: $text-colortopbar;
  --text-colortopbarHover: $text-colortopbarHover;
  --font-family-Topbar: $font-family-Topbar;
  --font-style-Topbar: $font-style-Topbar;
  --font-weight-Topbar: $font-weight-Topbar;
  --bg-header: $bg-header;
  --bg-button-header: $bg-button-header;
  --bg-button: $bg-button;
  --text-colornavbar: $text-colornavbar;
  --text-colornavbarHover: $text-colornavbarHover;
  --font-family-Menubar: $font-family-Menubar;
  --font-style-Menubar: $font-style-Menubar;
  --font-weight-Menubar: $font-weight-Menubar;
  --font-family-Home: $font-family-Home;
  --font-weight-Home: $font-weight-Home;
  --font-family-Title:$font-family-Title;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 45px;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDg0ZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS11dGVuc2lscy1jcm9zc2VkIj48cGF0aCBkPSJtMTYgMi0yLjMgMi4zYTMgMyAwIDAgMCAwIDQuMmwxLjggMS44YTMgMyAwIDAgMCA0LjIgMEwyMiA4bS03IDdMMy4zIDMuM2E0LjIgNC4yIDAgMCAwIDAgNmw3LjMgNy4zYy43LjcgMiAuNyAyLjggMHptMCAwIDcgN20tMTkuOS0uMiA2LjQtNi4zTTE5IDVsLTcgNyIvPjwvc3ZnPg=="), auto;
}

section {
  padding: 1rem 5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.container {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #474747;
  color: white;
  padding: 1rem 5rem;
  z-index: 100000;
}
.TopBar .ContainTopBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}
.TopBar .ContainTopBar .ContainSocial {
  gap: 1rem;
}
.TopBar .ContainTopBar .ContainSocial .LinkSocial {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.TopBar .ContainTopBar .ContainSocial .LinkSocial:hover {
  color: rgb(0, 126, 223);
  cursor: url("../../../../public/pizza.svg"), auto;
  transition: 0.5s color ease-in-out;
}
.TopBar .ContainTopBar .ContainContact {
  gap: 2rem;
}
.TopBar .ContainTopBar .ContainContact .ContactC {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.TopBar .ContainTopBar .ContainContact,
.TopBar .ContainTopBar .ContainSocial {
  font-family: "DM Sans", serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopBar .ContainTopBar .ContainContact svg,
.TopBar .ContainTopBar .ContainSocial svg {
  width: 1.3rem;
  height: 1.3rem;
}

#header {
  display: flex;
  padding: 1rem 5rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  top: 3.5rem;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
#header .ContainerLogo {
  user-select: none;
  width: 12rem;
  overflow: hidden;
}
#header .ContainerLogo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#header .ContainSearch {
  display: flex;
  position: relative;
  width: 35rem;
  padding: 0.3rem;
}
#header .ContainSearch .SearchInput {
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 1.8rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background: transparent;
}
#header .ContainSearch .SearchInput:hover {
  cursor: url("../../../../public/pizza.svg"), auto;
}
#header .ContainSearch .SearchIcon {
  position: absolute;
  top: 50%;
  width: 1rem;
  left: 1rem;
  transform: translateY(-50%);
  color: #888;
  z-index: -999;
}
#header #Menubar {
  display: flex;
  width: 50rem;
  height: 3.2rem;
  padding: 0 1rem;
}
#header #Menubar #navbar {
  width: 100%;
}
#header #Menubar #navbar #nav-container {
  display: flex;
  height: 100%;
  align-items: center;
}
#header #Menubar #navbar #nav-container #navbar-nav {
  display: flex;
}
#header #Menubar #navbar #nav-container ul {
  list-style-type: none;
  border-radius: 1rem;
  gap: 0.5rem;
}
#header #Menubar #navbar #nav-container ul li {
  padding: 0.8rem;
}
#header #Menubar #navbar #nav-container ul li a {
  position: relative;
  color: rgb(51, 36, 0);
  border-radius: 0 0 5% 5%;
  width: 100%;
  display: block;
  font-family: "Oswald", serif;
}
#header #Menubar #navbar #nav-container ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.5s width ease-in-out;
}
#header #Menubar #navbar #nav-container ul li a:hover {
  cursor: url("../../../../public/pizza.svg"), auto;
}
#header #Menubar #navbar #nav-container ul li a:hover::before {
  width: 100%;
}
#header #Menubar #navbar #nav-container ul li:hover {
  transition: background-color 0.3s ease-out;
  border-radius: 1rem;
  background: linear-gradient(45deg, rgba(146, 66, 0, 0.996), rgb(224, 153, 0));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#header #Menubar #navbar #nav-container ul li:hover > a {
  color: rgb(255, 255, 255);
}
#header #ContainUserMenu {
  display: flex;
  gap: 1rem;
  padding: 0.4rem;
  width: 30rem;
  height: 3.2rem;
}
#header #ContainUserMenu .ButtonUser {
  position: relative;
  display: inline-block;
  text-align: center;
  border: none;
  background: transparent;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  font-family: "Oswald", serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  color: rgb(51, 36, 0);
}
#header #ContainUserMenu .ButtonUser::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(45deg, rgba(146, 66, 0, 0.996), rgb(224, 153, 0));
  border-radius: 1rem;
  z-index: -1;
  transition: 0.3s all ease-in-out;
}
#header #ContainUserMenu .ButtonUser:hover, #header #ContainUserMenu .ButtonUser:focus {
  color: rgb(255, 255, 255);
  cursor: url("../../../../public/pizza.svg"), auto;
}
#header #ContainUserMenu .ButtonUser:hover::before, #header #ContainUserMenu .ButtonUser:focus::before {
  transition: 0.3s all ease-in-out;
  left: 0;
  right: 0;
  opacity: 1;
}
#header #ContainUserMenu .ButtonUser:active {
  transform: scale(0.9);
}

#HomeSection {
  margin-top: 9rem;
  height: 32rem;
  background: linear-gradient(to right, #62000d, #ff0022);
  z-index: 0;
}
#HomeSection #HomeContainer {
  padding: 1rem;
  width: 50%;
  height: auto;
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
}
#HomeSection #HomeContainer h1 {
  font-family: "Archivo Black", serif;
  color: rgb(255, 255, 255);
  font-size: 2.35rem;
  text-shadow: 1px 1px 10px #000000;
}
#HomeSection #HomeContainer p {
  color: rgb(255, 255, 255);
  font-family: "DM Sans", serif;
  margin-bottom: 1rem;
}
#HomeSection #HomeContainer button {
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  border: none;
  background: linear-gradient(45deg, #337901, #55cd00);
  transition: background 0.5s ease-in-out;
  color: white;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.569);
}
#HomeSection #HomeContainer button:hover {
  background: linear-gradient(45deg, rgba(146, 66, 0, 0.996), rgb(224, 153, 0));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#HomeSection #HomeContainer .ContainSearch {
  border-radius: 5px;
  display: flex;
  position: relative;
  width: 25rem;
  margin-bottom: 1rem;
  z-index: 10;
  background-color: white;
  z-index: 15;
}
#HomeSection #HomeContainer .ContainSearch .SearchInput {
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 1.8rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background: transparent;
}
#HomeSection #HomeContainer .ContainSearch .SearchInput:hover {
  cursor: url("../../../../public/pizza.svg"), auto;
}
#HomeSection #HomeContainer .ContainSearch .SearchIcon {
  position: absolute;
  top: 50%;
  width: 1rem;
  left: 0.5rem;
  transform: translateY(-50%);
  color: #5e5e5e;
  z-index: -999;
}
#HomeSection #PersonaContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
  overflow: hidden;
  z-index: -4;
}
#HomeSection #PersonaContainer .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#HomeSection #PersonaContainer .background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.2)); /* Color de la superposición */
  z-index: 0; /* Asegura que quede sobre la imagen de fondo */
}
#HomeSection::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  height: 100%;
  position: absolute;
  pointer-events: none;
  background-repeat: no-repeat;
  left: -0.1vw;
  right: 40vw;
  background-size: 20% auto;
  background-position: 100% 0;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 1000"><g fill="%23ff0022"><path opacity=".5" d="M87 .1H74.8L55.5 220.8 29.3.1H18l38 250L87 .1z"/><path opacity=".5" d="M74.8.1H66L53.3 145.3 36 .1h-6.7l26.2 220.7L74.8.1z"/><path opacity=".5" d="M74.8.1H66L53.3 145.3 36 .1h-6.7l26.2 220.7L74.8.1z"/><path opacity=".5" d="M66 .1H36l17.3 145.2L66 .1z"/><path opacity=".5" d="M66 .1H36l17.3 145.2L66 .1z"/><path opacity=".75" d="M66 .1H36l17.3 145.2L66 .1z"/><path opacity=".5" d="M56 750.1l-38 250h12.3l26.2-220.7 19.3 220.7H87l-31-250zM56 750.1l31-250-31-250-38 250zm19.7-250L56.5 721 30.3 500l26.2-220.7z"/><path d="M18 500.1l38-250L18 .1H0v1000h18l38-250-38-250z"/><path d="M56.5 720.9L75.7 500 56.5 279.4 30.3 500.1zM70 500L55.6 664.7 36 500.1l19.6-164.5z" opacity=".5"/><path d="M56.5 720.9L75.7 500 56.5 279.4 30.3 500.1zM70 500L55.6 664.7 36 500.1l19.6-164.5z" opacity=".5"/><path opacity=".5" d="M55.6 664.7L70 500.1 55.6 335.6 36 500.1l19.6 164.6z"/><path opacity=".5" d="M55.6 664.7L70 500.1 55.6 335.6 36 500.1l19.6 164.6z"/><path opacity=".75" d="M55.6 664.7L70 500.1 55.6 335.6 36 500.1l19.6 164.6z"/><path opacity=".5" d="M30.3 1000.1H36L53.3 855 66 1000.1h9.8L56.5 779.4l-26.2 220.7z"/><path opacity=".5" d="M30.3 1000.1H36L53.3 855 66 1000.1h9.8L56.5 779.4l-26.2 220.7z"/><path opacity=".5" d="M36 1000.1h30L53.3 855 36 1000.1z"/><path opacity=".5" d="M36 1000.1h30L53.3 855 36 1000.1z"/><path opacity=".75" d="M36 1000.1h30L53.3 855 36 1000.1z"/></g></svg>');
  animation: moveBackground 10s infinite alternate ease-in-out; /* Animación */
  overflow: hidden;
  z-index: -3;
}

.shapedividers_com-4450 {
  overflow: hidden;
  position: relative;
  top: -1.6rem;
  height: 10rem;
  z-index: -10;
}
.shapedividers_com-4450::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: -3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 150px;
  background-position: 50% 0%;
  background-image: url("../../../../../public/a.svg");
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 100% 100%; /* Ajusta según el movimiento deseado */
  }
}
#services .section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Poppins", serif;
}
#services .cards-services-container {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
#services .cards-services-container .containerCard {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, #ffc95d, #ff6700);
}
#services .cards-services-container .containerCard .card-service {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.685);
  background-color: white;
}
#services .cards-services-container .containerCard .card-service .service-image {
  width: 100%;
  height: 10rem;
  border-radius: 50%;
}
#services .cards-services-container .containerCard .card-service .service-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#services .cards-services-container .containerCard .card-service .service-title {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#services .cards-services-container .containerCard .card-service .service-description {
  font-size: 0.9rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#services .cards-services-container .containerCard .card-service .service-button {
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  border: none;
  background: linear-gradient(45deg, #337901, #55cd00);
  color: white;
  transition: background-color 0.3s ease-out;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.569);
}
#services .cards-services-container .containerCard .card-service .service-button:hover {
  background: linear-gradient(45deg, rgba(146, 66, 0, 0.996), rgb(224, 153, 0));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#services .cards-services-container .containerCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}
#services .services-description {
  margin-top: 2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#services .services-description p {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#services .services-description p #CheckCircle {
  color: #3a8c00;
}

.shapedividers_com-117 {
  overflow: hidden;
  position: relative;
  height: 10rem;
  z-index: -10;
}
.shapedividers_com-117::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: -3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 150px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill="%23232323" d="M0 288l1440-128v160H0z"/><path fill="%23232323" opacity=".66" d="M0 192l1440-96v224H0z"/></svg>');
}

.top-restaurants-section {
  background: linear-gradient(to bottom, #232323, #1a1a1a, #101010);
}
.top-restaurants-section .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.top-restaurants-section .section-title h2 {
  font-family: "Poppins", serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 106, 0, 0.6);
  background: linear-gradient(to right, #ff0000 30%, #ffb300 55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.top-restaurants-section .section-title p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  color: white;
}
.top-restaurants-section .top-restaurants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top-restaurants-section .top-restaurants .mySwiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  overflow: hidden;
  padding: 3rem 20px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); /* Simplificado */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(5px); /* Simplificado */
  padding: 20px;
  width: 18rem;
  height: 25rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); /* Simplificado */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  perspective: 1000px;
  cursor: pointer;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3); /* Simplificado */
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card {
  width: 100%;
  height: 100%;
  position: relative;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card.flipped .card-inner {
  transform: rotateY(180deg);
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem; /* Simplificado */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); /* Simplificado */
  transition: transform 0.6s ease-in-out;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front .btn,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back .btn {
  width: fit-content;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #ff0000, #ff9d00);
  border-radius: 8px;
  margin-top: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Simplificado */
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front .btn:hover,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(255, 115, 0, 0.5);
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front img,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front .restaurant-info,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back .restaurant-info {
  position: absolute;
  width: 80%;
  left: 10%;
  margin-top: 15px;
  text-align: left;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front .restaurant-info h3,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back .restaurant-info h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 10px 0;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front .restaurant-info p,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back .restaurant-info p {
  font-size: 1rem;
  margin: 10px 0;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front .restaurant-info p:last-child,
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back .restaurant-info p:last-child {
  margin-bottom: 10px;
  color: #ffb300;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-front {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); /* Simplificado */
  transform: rotateY(0deg);
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); /* Simplificado */
  transform: rotateY(180deg);
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-slide .top-restaurant .card .card-back p {
  font-size: 1rem;
  margin: 10px 0;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-pagination-bullet {
  background: #007aff;
  border-radius: 10px;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-pagination-bullet:hover {
  opacity: 1;
}
.top-restaurants-section .top-restaurants .mySwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.shapedividers_com-8372 {
  overflow: hidden;
  position: relative;
  height: 10rem;
  z-index: -10;
}
.shapedividers_com-8372:before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: 1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 150px;
  background-position: 50% 0%;
  transform: rotateX(180deg);
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill="%23101010" d="M0 288l1440-128v160H0z"/><path fill="%23101010" opacity=".66" d="M0 192l1440-96v224H0z"/></svg>');
}

.top-food-week-section .top-food-week__title {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}
.top-food-week-section .top-food-week__title h2 {
  font-family: "Poppins", serif;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(212, 89, 0, 0.442);
  background: linear-gradient(to right, #ff0000 10%, #ffb300 25%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.top-food-week-section .top-food-week__title p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  color: rgb(51, 36, 0);
}
.top-food-week-section .top-food-week__content {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
}
.top-food-week-section .top-food-week__content .filterfood-container {
  width: 30%;
  padding: 1rem;
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items {
  font-family: "Poppins", serif;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  height: 24rem;
  overflow-y: scroll;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ffb300);
  border-radius: 2rem;
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items .food-item {
  display: flex;
  width: 13rem;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in;
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items .food-item img {
  padding: 2px;
  transition: all 0.2s ease-in;
  vertical-align: middle;
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items .food-item:hover, .top-food-week-section .top-food-week__content .filterfood-container .food-items .food-item.actived {
  background-color: #eb9f57;
  color: white;
  cursor: pointer;
}
.top-food-week-section .top-food-week__content .filterfood-container .food-items .food-item:hover img, .top-food-week-section .top-food-week__content .filterfood-container .food-items .food-item.actived img {
  background-color: white;
  border-radius: 50%;
}
.top-food-week-section .top-food-week__content .Topfood-container {
  border: 2px solid #37ff00;
  width: 70%;
  padding: 1rem;
  display: flex;
  height: auto;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood {
  position: relative;
  margin: 0 0.5rem;
  padding: 0.3rem;
  border-radius: 1rem;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to bottom, #ffc95d, #ff6700);
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .food-info {
  font-family: "Poppins", serif;
  font-size: 0.8rem;
  position: absolute;
  bottom: 2%;
  left: 0;
  padding: 1rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .food-info h3 {
  font-size: 1.5rem;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .food-info p {
  font-size: 0.7rem;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .CardfoodInner {
  position: relative;
  width: 250px;
  height: 100%;
  overflow: hidden;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .CardfoodInner img {
  width: 100%;
  height: 100%;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .CardfoodInner img:first-child {
  border-radius: 1rem;
  object-fit: cover;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .CardfoodInner img:last-child {
  position: absolute;
  width: 15rem;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(10%);
  transition: 0.3s ease;
  opacity: 0;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .CardfoodInner::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.7) 50%, rgb(0, 0, 0) 95%);
  opacity: 0;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood .CardfoodInner::after {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 30%;
  height: 250%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: rotate(45deg);
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood:hover {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood:hover .food-info {
  text-shadow: 2px 2px 4px rgba(255, 201, 93, 0.7);
  opacity: 1;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood:hover .CardfoodInner img:last-child {
  opacity: 1;
  transform: translateY(-75%);
  filter: drop-shadow(0 0 0.7rem rgb(255, 255, 255));
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood:hover .CardfoodInner::before {
  opacity: 1;
}
.top-food-week-section .top-food-week__content .Topfood-container .CardFood:hover .CardfoodInner::after {
  /* Aplicamos la animación: en 3 segundos completa el recorrido y se repite infinitamente */
  animation: sweepDiagonal 3s infinite ease-in-out;
  left: 200%;
  opacity: 1;
}

@keyframes sweepDiagonal {
  0% {
    top: -150%;
    left: -150%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    top: 100%;
    left: 100%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 100%;
    left: 100%;
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */