@use "../../Globals/variables" as variables;

#HomeSection {
  padding: variables.$global-padding;
  position: relative;
  display: flex;
  align-items: center;
  top: 8.8rem;
  height: 35rem;
  overflow: hidden;

  #HomeContainer {
    padding: 1rem;
    width: 50%;
    height: auto;
    display: flex;
    gap: 1.8rem;
    flex-direction: column;

    h1 {
      font-family: variables.$font-family-Home;
      color: rgb(0, 27, 51);
      font-size: 2.5rem;

      #foodSpan {
        display: inline-block;
        color: #b77a00;
      }
    }

    p {
      color: rgb(0, 27, 51);
      font-family: variables.$font-family-Topbar;
    }

    button {
      width: fit-content;
      padding: 0.5rem 2rem;
      border-radius: 2rem;
      border: none;
      background-color: rgb(0, 27, 51);
      color: white;
      transition: background-color 0.3s ease-out;

      &:hover {
        cursor : url('../../../../public/pizza.svg'), auto; 
        background-color: variables.$bg-button-header;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      }
    }

    .ContainSearch {
      display: flex;
      position: relative;
      width: 25rem;
      padding: 0.3rem;
      margin-bottom: 1rem;

      .SearchInput {
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 1.8rem;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        background: transparent;

        &:hover {
          cursor: url("../../../../public/pizza.svg"), auto;
        }
      }

      .SearchIcon {
        position: absolute;
        top: 50%;
        width: 1rem;
        left: 1rem; // Espaciado desde la izquierda
        transform: translateY(-50%);
        color: #888;
        z-index: -999;
      }
    }
  }

  #PersonaContainer {
    position: absolute;
    top: 0;
    left: 44%;
    width: 65vw;
    height: 100%;
    background: linear-gradient(to right, #ffd175, #b77a00);
    z-index: -4;

    #img1 {
      position: absolute;
      left: 10%;
      width: 65%;
      height: auto;
      transition: all 1s;
      z-index: 1000;
    }
  }

  &::before {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    height: 100%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    left: -0.1vw;
    right: 55vw;
    top: 0;
    background-size: 20% auto;
    background-position: 100% 0;
    background-image: url("../../../../../public/ShapeDivisor.svg");
    animation: moveBackground 60s infinite alternate ease-in-out; /* Animación */
    z-index: -3;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0; /* Posición inicial */
  }
  50% {
    background-position: 100% 50%; /* Desplaza el fondo hacia la derecha */
  }
  100% {
    background-position: 100% 100%; /* Regresa al inicio */
  }
}
